<p class="title">
  REGISTER</p>
<form class="example-form">
  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" value="" [(ngModel)]="registerID" name="registerID">
    </mat-form-field>
  </tr>

  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="PASSWORD" value="" [(ngModel)]="registerPass" name="registerPass">
    </mat-form-field>
  </tr>

  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="RE-ENTER PASSWORD" value="" [(ngModel)]="registerRepass" name="registerRepass">
    </mat-form-field>
  </tr>

  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="FIRSTNAME" value="" [(ngModel)]="registerName" name="registerName">
    </mat-form-field>
  </tr>

  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="LASTNAME" value="" [(ngModel)]="registerLastname" name="registerLastname">
    </mat-form-field>
  </tr>

  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="TEL." value="" [(ngModel)]="registerTel" name="registerTel">
    </mat-form-field>
  </tr>



</form>



<br>
<br>

<!-- STATUS WENT YOU REGISTER 
<font color="{{color}}">{{status}}</font>-->

<div class="Footer">
  <button class="button1" mat-raised-button (click)="gologin()">Back</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="button1" mat-raised-button (click)="registerNurse()" color="primary">Sign up</button>
  <!-- <input type="submit" name="" value="Sign up" (click)="registerNurse()"> -->

  <br><br>
  <!-- STATUS WENT YOU REGISTER -->
  <font color="{{color}}">{{status}}</font>

</div>