h1.Title1 {
    font-family: 'Kanit';
    font-size: 20px;
}
h1.Title2 {
  font-family: 'Kanit';
  font-size: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit';
}

.w3-row-padding img {
    margin-bottom: 20px;
}

.w3-sidebar {
    /*width: 150px;*/
    background: #cce6ff;
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    top: 0px;
}

/*Disease file*/
.w3-jumbo {
  font-size: 27px!important;
  text-align: left;
  margin-left: 25%;
  margin-top: 6%;
}

.backButton {
  font-size: 20px;
  text-align: left;
  /*margin-left: 25%;*/
  margin-top: 4%;
  font-family: 'Kanit';
  margin-left: 10%;
}

.fa fa-angle-left w3-xlarge {
  text-align: center;
}


/* css table*/
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 700px;
  
  /*width: 133%;*/
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

/* card */
mat-card {
  max-width: 60%;
  margin: 2em auto;
  padding: 0px;
  /*text-align: center;*/
  
}

.mat-header-cell {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Kanit';
}

.mat-cell {
  font-size: 18px;
  font-family: 'Kanit';
}

/* box table space of top */ 
.cardBox {
margin-top: 0.5%;

}

.plusBtn {
  padding-top: 1%;
  position: fixed;
}


/*input feild*/
.example-form {

  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 20%;
}

.example-full-width {
  width: 100%;
  font-size: 18px;
}

.demo-full-width {
  font-size: 18px;
}

.editHead {
  text-align: center;
}

.editBtn {
  margin-left: 38%;
}

.deleteHead {
  text-align: center;
}

.deleteBtn {
  margin-left: 38%;
}

.saveBtn {
margin-inline-start: 75%;
}


/* BINK EDIT CSS*/
.content {
  max-width: 80%;
  margin: 0 auto;
  padding: 0px;
}

.login-content {
  padding-left: 10px;
}

hr {
/*border-top: 1px solid #8c8b8b;*/
margin-left: 12%;
}

.Title1 , .Title2 , .Title{
margin-left: 12%;
}

/*button*/

.button {
 
border: none;
color: white;
padding: 10px 50px;
text-decoration: none;
display: inline-block;
font-size: 30px;
font-family: Bahnschrift;
transition-duration: 0.4s;
cursor: pointer;
transform: translateX(26vh);
/*margin-top: 0%*/
margin-left: 6%;

}

.button1 {
background-color: white; 
color: red; 
border: 2px solid red;
border-radius: 6px; 
margin: 26px;


}

.button1:hover {
background-color: red;
color: white;
}

.button2 {
background-color: white; 
color: #33cccc; 
border: 2px solid #33cccc;
border-radius: 6px; 
margin: 26px;
}

.button2:hover {
background-color: #33cccc;
color: white;
}

.contentInfo {
  max-width: 80%;
  margin: 0 auto;
  padding: 0px;
  font-size: 16px;
}


/* test */
/* @import '~https://fonts.googleapis.com/icon?family=Material+Icons';    
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';     */
.mat-card {    
    text-align: -webkit-center;    
}    
    
.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    
    
mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    

.headTitle {
  font-size: 40px;
  font-family: 'Kanit';
}


