/* box table space of top */ 
.cardBox {
    margin-top: 10%;
    width: 50%; 
    text-align: -webkit-center;
    text-align: -moz-center;
    border-radius: 0px;
    
}

/* css table*/
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.example-full-width {
    width: 100%;
    max-width: 100%;
}

.example-form {
    margin-top: 2%;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.button1 {
    font-family: 'Prompt';
    font-size: 20px;
}

.title {
    font-family: 'Prompt';
    font-size: 40px;
    text-align: -webkit-center;
    text-align: -moz-center;
}

 /* Footer */
 .Footer {
    text-align: -webkit-center;
    text-align: -moz-center;
    font-family: 'Prompt';
}

.container {
    width: 100%;
    max-width: 600px;
    font-family: 'Prompt';
    margin: 5em auto;
}

.panel-heading {
    font-size: 20px;
}
